[submodule ".registry"]
	path = .registry
	url = https://github.com/r4epi/universe
	shallow = true
	branch = HEAD
[submodule "aweek"]
	path = aweek
	url = https://github.com/reconhub/aweek
	shallow = true
	registered = true
[submodule "incidence"]
	path = incidence
	url = https://github.com/reconhub/incidence
	shallow = true
	registered = true
[submodule "matchmaker"]
	path = matchmaker
	url = https://github.com/reconhub/matchmaker
	shallow = true
	registered = true
[submodule "epidict"]
	path = epidict
	url = https://github.com/r4epi/epidict
	shallow = true
	registered = true
[submodule "epikit"]
	path = epikit
	url = https://github.com/r4epi/epikit
	shallow = true
	registered = true
[submodule "apyramid"]
	path = apyramid
	url = https://github.com/r4epi/apyramid
	shallow = true
	registered = true
[submodule "epitabulate"]
	path = epitabulate
	url = https://github.com/r4epi/epibuffet
	shallow = true
	registered = true
[submodule "sitrep"]
	path = sitrep
	url = https://github.com/r4epi/sitrep
	shallow = true
	registered = true
[submodule "linelist"]
	path = linelist
	url = https://github.com/reconhub/linelist
	shallow = true
	registered = false
